.overlay {
    display: none;
}

.popup {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-inner {
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    width: 40%;
}

.HeadLoginTitle {
    text-align: center;
    font-size: 1vmax;
}

div.feildForm {
    margin-top: 10px;
    margin-bottom: 10px;
    ;
    border: 1px solid black;
}

.LoginForm {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 5px;

}

h3.LoginTitle {
    border: 0px solid black;
    width: 100%;
    margin-bottom: 0px;
    font-size: 1.05vmax;
    font-weight: 650;

}

h3.LoginTitle#Username {
    margin-bottom: 10px;
}

button.EyeHide {
    background-color: transparent;
    border: none;
    margin-left: -36px;
    cursor: pointer;

}

div.LoginForm input[type=text],
input[type=password] {
    background-color: transparent;
    width: 100%;
    display: inline-block;
    border: 0px solid #ccc;
    box-sizing: border-box;
}

.RememberMe {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.05vmax;
    padding: 1%;
}

.RememberMe input[type=checkbox] {
    margin-right: 5px;
}

.RememberMe .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    /* font-size: 22px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.RememberMe .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5vmax;
    width: 1.5vmax;
    background-color: #eee;
}

.container:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ForgotPassword {
    float: right;
    padding-right: 10px;
}

div.LoginBtn {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

div.LoginBtn button {
    background-color: #5FA1F2;
    color: white;
    padding: 1%;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.05vmax;
}
@media screen and (max-width: 600px) {
    .popup-inner {
        width: 40%;
    }

    .HeadLoginTitle {
        font-size: 1.5vmax;
    }

    h3.LoginTitle {
        font-size: 1.5vmax;
    }

    .LoginForm {
        font-size: 1.5vmax;
    }

}
