.NevBarContainer {
    overflow: hidden;
    position: fixed;
    width: 100%;
    margin-top: 0%;
    padding: 0;
    background-color: white;
    list-style: none; 
    box-shadow: 0 3px 2px 0 rgba(0,0,0,.2);
    z-index: 9999;
    display: flex;
    align-items: center;
}

.LogoNevBar {
    margin-left: 3vmax;
    margin-right: auto;
}

.TextNevBar {
    text-decoration: none;
    color: #5FA1F2;
    font-size: 1.5vmax;

}

.LogoNevBar b.text {
    color: #5FA1F2;
    font-size: 2.1vmax;
    font-weight: 600;
}


.NevMenu {
    margin-right: 1%;
}

.NevMenu a {
    text-decoration: none;
    color: black;
}
.NevMenu1 {
    margin: 0px 10px 0px 0px;
}

button.LoginBtn {
    border: 0px;
    font-size: 1.1vmax;
    background-color: transparent;
    color: black;
    opacity: 0.6;
    cursor: pointer;
}

button.LoginBtn:hover {
    opacity: 1;
}

button.LoginBtn b {
    position: relative;
    top: 4px;
    font-size: 1.5vmax;
}