.NevBarContainer {
    overflow: hidden;
    position: fixed;
    width: 100%;
    padding: 3px;
    background-color: white;
    list-style: none;
    font-size: 0.5vmin;
    box-shadow: 0 3px 2px 0 rgba(0,0,0,.2);
    z-index: 99999;
}

.LogoNevBar {
    color: #5FA1F2;
    font-size: 4vmin;
    font-weight: bold;
}

h1.TextNevBar {
    display: inline;
    color: #5FA1F2;
    font-size: 3vmin;
    font-weight: bold;
    vertical-align: 5px;
}

li {
    float: left;
  }

li a{
    text-decoration: none;
    color: inherit;
}

.NevMenu {
    padding: 10px;
    float: right;
    font-size: 2vmin;
}

.NevMenu1 {
    padding: 10px;
    float: right;
    font-size: 2vmin;
}

h4.LoginText {
    display: inline;
    color: #5FA1F2;
    font-weight: bold;
    vertical-align: 1px;
    font-size: 2vmin;
}

h4.LoginLogo {
    display: inline;
    color: #5FA1F2;
    font-weight: bold;
    margin-left: 5px;
}
